@import "tailwindcss";

@theme {
  --color-primary: oklch(0.707 0.165 254.624);
  --color-dark: oklch(0.129 0.042 264.695);
  --breakpoint-2xl: 1320px;
}

@layer base {
  .container {
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }
}

body {
    font-family: 'Inter', sans-serif;
}

.navbar-fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px); 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transition: all 0.3s ease-in-out;
}

.hamburger-line {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #020617;
    margin-top: 8px;
    margin-bottom: 8px;
}

.hamburger-active > span:nth-child(1) {
    transform: rotate(45deg) translateY(2px);
}

.hamburger-active > span:nth-child(2) {
    transform: scale(0);
}

.hamburger-active > span:nth-child(3) {
    transform: rotate(-45deg) translateY(-2px);
}
